#copyright{
    background: #3f3f3f;
    color: #fff;
    vertical-align: center;
    padding: 11px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    .copy_info{
      padding-left: 20px;
    }
    p, a{
      font-weight: lighter;
      margin: 0;
      line-height: 1.5em;
      list-style: none;
      padding-right: 20px;
    }
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

.whole-page {
  min-height:100%;
  position:relative;
}

.sticky-footer-fix {
  padding-bottom:60px;
}

.inline-fix {
  display: inline-block;
}
