#copyright{
    background: #3f3f3f;
    color: #fff;
    vertical-align: center;
    padding: 11px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    p, a{
      font-weight: lighter;
      margin: 0;
      line-height: 1.5em;
    }
}
