<div id="copyright">
    <div class="left">
      <p class="copy_info">Site content &copy;2013 Launched It! Inc Llc Biz</p>
    </div>
    <!-- <div class="large-8 columns"> -->
      <ul class="right">
        <a href="#">@launchedIt</a>
      </ul>
    </div>
  </div>
</div>