<div id="copyright">
  <div class="row full-width">
    <div class="large-4 columns">
      <p>Site content &copy;2013 Launched It! Inc Llc Biz</p>
    </div>
    <div class="large-8 columns">
      <ul class="inline-list right">
        <li><a href="#">@launchedIt</a></li>
      </ul>
    </div>
  </div>
</div>